/*Configure the tab buttons*/
.sheet-input,
.sheet-display {
    display: none;
}


/* show the selected tab */
.sheet-tabstoggle[value="input"] ~ div.sheet-input,
.sheet-tabstoggle[value="display"] ~ div.sheet-display {
    display: block;
}


.mysheet {
    width: 830px;
    height: 630px;
}
.attributes {
    padding: 15px 0px 0px 15px;
}

input[type="hidden"][name="attr_faction"] ~ .mysheet {
    background-color: lightgray;
}
input[type="hidden"][name="attr_faction"][value="US Army"] ~ .mysheet {
    background-color: olive;
}
input[type="hidden"][name="attr_faction"][value="Wermacht"] ~ .mysheet {
    background-color: grey;
}



main {
  display: grid;
  width: 800px;
  height: 600px;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:"header   header    header   header"
                      "common   common    common   stats"
                      "common   common    common   notes"
                      "weapon   weapon    weapon   weapon";
}





/*----------------- GENERAL CSS ------------------*/

section {
    padding: 5px;
    border-style: solid;
}

/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
  justify-items: all;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.f-center {
  align-items: center;
  justify-content: center;
}


/*----------------- Text & Input styling -----------------*/

/* these are for overwriting default CSS that comes from Roll20 */

.charsheet * {
  font-family: "serif;";
}

.charsheet h1{
  text-align: center;
  color: white;
}
.charsheet h2{
  text-align: center;
  color:  darkred;
}
.charsheet h3{
  text-align: center;
  color: black;
}

.charsheet h4{
  text-align: center;
  color: darkred;
}

.charsheet h5{
  text-align: center;
  color: darkred;
}



/*------------- Section-specific CSS -------------*/


.header {
  grid-area: header;
  flex-direction: center;
  border-style: none;
}

.header h3 {
  color: white;
}

input[type="hidden"][name="attr_faction"]:is([value="Deathguard"],[value="Space Wolves"],[value="Ratlings"],[value="Slaanesh"]) ~ .header :is(h1,h3){
  color: black;
}
input[type="hidden"][name="attr_faction"]:is([value="Necron"]) ~ .header :is(h1,h3) {
  color: #39FF14;
}

.common {
  grid-area: common;
  background-color: white;
}

.common > img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
}


.stats {
  grid-area: stats;
  background-color: white;
}

.notes {
  grid-area: notes;
  background-color: white;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}



.attrinfo {
    grid-area: attrinfo;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    text-align: center;
}

.weapon {
  grid-area: weapon;
  background-color:  white;
}

.weaponinfo{
  grid-area: weaponinfo;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 3fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: white;
  text-align: center;
  align-items: center;
}
