@import url('https://fonts.googleapis.com/css?family=Bokor|Arsenal&display=swap');

/*Configure the tab buttons*/
.sheet-input,
.sheet-display {
    display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="input"] ~ div.sheet-input,
.sheet-tabstoggle[value="display"] ~ div.sheet-display {
    display: block;
}


.mysheet {
    width: 830px;
    height: 580px;
}
.bits {
    padding: 15px 0px 0px 15px;
}

input[type="hidden"][name="attr_faction"] ~ .mysheet {
    background-color: lightgray;
}
input[type="hidden"][name="attr_faction"][value="Orks"] ~ .mysheet {
    background-color: green;
}
input[type="hidden"][name="attr_faction"][value="Blood Angels"] ~ .mysheet {
    background-color: red;
}







main {
  display: grid;
  width: 800px;
  height: 550px;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:"common common common"
                      "common common common"
                      "attr   attr2   attr3"
                      "spec   spec    spec"
                      "spec   spec    spec";
}





/*----------------- GENERAL CSS ------------------*/

section {
    padding: 5px;
      align-items: center;

}

/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
  justify-items: all;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.f-center {
  align-items: center;
  justify-content: center;
}


/*----------------- Text & Input styling -----------------*/

/* these are for overwriting default CSS that comes from Roll20 */

.charsheet * {
    font-family: "serif;";
  }
  
  .charsheet h1{
    text-align: center;
    color: black;
  }
  .charsheet h2{
    text-align: center;
    color:  black;
  }
  .charsheet h3{
    text-align: center;
    color: black;
  }
  
  .charsheet h4{
    text-align: center;
    color: black;
  }
  
  .charsheet h5{
    text-align: center;
    color: darkred;
  }


/*------------- Section-specific CSS -------------*/


.header {
  grid-area: header;
  align-items: center;
  justify-content: center;
  background-color: white;

}

.header h4 {
  text-align: center;
  color: black;
}

.attr {
  grid-area: attr;
  background-color: white;
  align-items: center;

}

.attr2 {
  grid-area: attr2;
  background-color: white;
  align-items: center;

}

.attr3 {
  grid-area: attr3;
  background-color: white;
  align-items: center;

}

.attrinfo{
  grid-area: attrinfo;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  text-align: center;
  align-items: center;
}

.spec {
  grid-area: spec;
  background-color: white;
  align-items: center;
}


.common {
  grid-area: common;
  position: relative;
  background-color: white;
  align-items: center;

}

.common > img {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
}

.top-right {
  position: absolute;
  top: 16px;
  right: 16px;
}
